.LoanCard {
  display: flex;
  padding: 10px;
  margin: 0 5px;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 260px;
  border: 1px solid #c2c5cc;
  border-radius: 10px;
  cursor: pointer;  
}
.LoanCard:hover {
  background: rgba(105, 105, 105, 0.1);
}

.LoadCardIcon {
  font-size: 45px;
  margin: 5px;
}

.LoanCardDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}